*{
    padding:0;
    margin:0;
    box-sizing: border-box;
text-decoration: none;
}
body{
    font-family: var(--poppins);
}
:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --dark-green: hsl(154, 77%, 26%);
    --blue: hsl(248, 32%, 49%);
    --poppins: "Poppins", sans-serif;
    --grey-blue: hsl(246, 25%, 77%);
    
}
header{
    background-image: url(./images/bg-intro-desktop.png)
    ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: var(--red);
    color: #551616;
}

.container{
    padding: 1rem 3rem;
    max-height: 100vh;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}
.content-text h1{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.nameField{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text p{
    font-size: 1.05rem;
    line-height: 1.5;
    
}
.left-content{
    color: white;
    margin-right: 4rem;
    
}
.right-content{
    width: 100%;
}
.offer{
    font-weight: 600;
}
input{
    display: block;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: solid rgb(223, 219, 219) 1px;
}
input:hover{
    border: solid var(--blue) 1.5px;
}
.form-control.success input{
    border-color: var(--green);
}
.form-control.error input{
    border-color: var(--red);
}

input :focus{
    outline: solid 1px var(--grey-blue);
}
.form-control{
    position: relative;
    margin-bottom: 2rem;
}
.form-control i{
    font-size: 1.2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    visibility: hidden;
}
.form-control.error i.fa-circle-exclamation{
    color: rgb(252, 57, 57);
    visibility: visible;
}
.form-control small{
    color: rgb(252, 57, 57);
    font-style: italic;
    font-size: 0.6rem;
    letter-spacing: 1px;
    position: absolute;
    top: 60px;
    right: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}

input::placeholder{
    opacity: .7;
}
.btn-1{
    background-color: var(--blue);
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    padding: 0.7rem 1rem;
}
.form-field{
    display: block;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 7px;
    min-height: 100%;
}
.form-field p{
    font-size: 0.7rem;
}
.btn-2{
    background-color: var(--green);
    width: 100%;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-bottom: solid 3px var(--dark-green) !important;
    color: white;
    text-decoration: none;
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.terms-link{
    color: rgb(207, 24, 24);
    font-weight: bold;
}

/* MediAa Queries */
@media screen and (max-width:790px){
    header{
        background-image: url(./images/bg-intro-mobile.png)
    ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: var(--red);
    }
    .container{
        padding: 4rem 2rem;
        max-height: 200vh;
    }
    
    .header-content{
        display: block;
        align-items: center;
        justify-content: center;
        padding: 0;
        text-align: center;
    }
    .content-text h1{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .content-text p{
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 2.5rem;
    }
    
    .left-content{
        width: 100%;
    }
    input{
    font-size: 0.8rem;
    padding: 0.6rem 1rem;;
    }
    .form-control small{
        color: rgb(252, 57, 57);
        font-size: 0.4rem;
        top: 40px;
    }
    .form-control i{
        font-size: 1rem;
        top: 10px;
        right: 5px;
    }
    .btn-1{
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
        padding: 1rem 4rem;
        line-height: 1.5;
    }
}
